/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

.viderlab-search-room-form,
.viderlab-search-room-form .viderlab-dates,
.viderlab-search-room-form .viderlab-numbers {
    display: flex;
}

.viderlab-search-room-form .viderlab-date,
.viderlab-search-room-form .viderlab-number {
    padding: 10px;
}

.viderlab-search-room-form .viderlab-title {
    font-size: 12px;
    line-height: 17px;
    height: 17px;
}

.viderlab-search-room-form .viderlab-date .viderlab-datepicker input {
    line-height: 1;
}

.viderlab-search-room-form .viderlab-date .viderlab-datepicker input,
.viderlab-search-room-form .viderlab-number .viderlab-numberpicker select,
.viderlab-search-room-form .viderlab-submit input {
    padding: 10px;
    border-radius: 5px;
    min-width: 100px;
    line-height: 1;
    font-size: 1.6rem;
    border-color: #dcd7ca;
}

.viderlab-search-room-form .viderlab-submit {
    margin-top: 17px;
}

@media only screen and (max-width: 600px) {
    .viderlab-search-room-form,
    .viderlab-search-room-form .viderlab-dates,
    .viderlab-search-room-form .viderlab-numbers {
        flex-direction: column;
    }

    .viderlab-search-room-form .viderlab-submit {
        text-align: center;
    }
}